 html {
   background-color: rgb(242, 245, 247); 
    
    /* background-image: url("crumpled.jpg");    
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover; */
} 


